extends ./layout/theme.pug

block content
  h2 Text Color
  div.ega-demo__color
    div.ega-row
      div.ega-col-3
        span.ega-text-color--primary Primary
      div.ega-col-9
        div.ega-demo__color-item
          pre
            code.html
              | &lt;span class="ega-text-color--primary"&gt; 
              |   Primary
              | &lt;/span&gt;
  h2 Background Color
  div.ega-demo__color
    div.ega-row
      div.ega-col-3
        div.ega-background-color--success.ega-text-color--white(style='padding: 10px;')
          span Success
      div.ega-col-9
        div.ega-demo__color-item
          pre
            code.html
              | &lt;div class="ega-background-color--success ega-text-color--white"&gt; 
              |   Success
              | &lt;/div&gt;
  h2 Pallet Color
  - var palettColor = [{ 'backgroundClass': 'primary', 'textClass': 'white', 'code': '#007bff' }, { 'backgroundClass': 'secondary', 'textClass': 'white', 'code': '#6c757d' }, { 'backgroundClass': 'success', 'textClass': 'white', 'code': '#28a745' }, { 'backgroundClass': 'danger', 'textClass': 'white', 'code': '#dc3545' }, { 'backgroundClass': 'warning', 'textClass': 'white', 'code': '#ffc107' }, { 'backgroundClass': 'info', 'textClass': 'white', 'code': '#17a2b8' }, { 'backgroundClass': 'light', 'textClass': 'dark', 'code': '#f8f9fa' }, { 'backgroundClass': 'dark', 'textClass': 'white', 'code': '#343a40' }, { 'backgroundClass': 'white', 'textClass': 'dark', 'code': '#ffffff' }, { 'backgroundClass': 'black', 'textClass': 'white', 'code': '#000000' }, { 'backgroundClass': 'transparent', 'textClass': 'black', 'code': 'transparent'}]

  div.ega-demo__color
    div.ega-row
      each item, index in palettColor
        div.ega-col-4
          div(style='padding: 10px' class="ega-text--center ega-background-color--"+item.backgroundClass+" ega-text-color--"+item.textClass)
            | #{item.code} - #{item.backgroundClass}