extends ./layout/theme.pug

block content
  div.ega-container
    h2 Clearfix
    pre
      code.html
        | &lt;div class="ega-clearfix"&gt;
        |   ...
        | &lt;/div&gt;

    h4 Example:
    div.ega-clearfix.ega-background-color--primary
      a.ega-btn.ega-btn--danger.ega-nomargin(style='float: left;') Text float left
      a.ega-btn.ega-btn--danger.ega-nomargin(style='float: right;') Text float right
    pre(style='margin-top: 30px;')
      code.html
        | &lt;div class="ega-clearfix ega-background-color--blue"&gt;
        |   &lt;a class='ega-btn ega-btn--red ega-nomargin' style='float: left;'&gt;
        |     Button float left
        |   &lt;/a&gt;
        |   &lt;a class='ega-btn ega-btn--red ega-nomargin' style='float: right;'&gt; 
        |     Button float right
        |   &lt;/a&gt;
        | &lt;/div&gt;

    h2 Hiding elements
    ul
      li
        | All screen wide
        pre
          code.html
            | &lt;div class="ega-hidden"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | Small (<strong> >=576px </strong> and <strong> <=767px </strong> wide)
        pre
          code.html
            | &lt;div class="ega-hidden--sm"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | Medium (<strong> >=768px </strong> and <strong> <=991px </strong> wide)
        pre
          code.html
            | &lt;div class="ega-hidden--md"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | Large (<strong> >=992px </strong> and <strong> <=1199px </strong> wide)
        pre
          code.html
            | &lt;div class="ega-hidden--lg"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | Extra large (<strong> >=992px </strong> and <strong> <=1199px </strong> wide)
        pre
          code.html
            | &lt;div class="ega-hidden--xl"&gt;
            |   ...
            | &lt;/div&gt;

    h2 No margin
    ul
      li
        | No margin
        pre
          code.html
            | &lt;div class="ega-nomargin"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No top margin
        pre
          code.html
            | &lt;div class="ega-nomargin--top"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No right margin
        pre
          code.html
            | &lt;div class="ega-nomargin--right"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No bottom margin
        pre
          code.html
            | &lt;div class="ega-nomargin--bottom"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No left margin
        pre
          code.html
            | &lt;div class="ega-nomargin--left"&gt;
            |   ...
            | &lt;/div&gt;

    h2 No padding
    ul
      li
        | No padding
        pre
          code.html
            | &lt;div class="ega-nopadding"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No top padding
        pre
          code.html
            | &lt;div class="ega-padding--top"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No right padding
        pre
          code.html
            | &lt;div class="ega-padding--right"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No bottom padding
        pre
          code.html
            | &lt;div class="ega-padding--bottom"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No left padding
        pre
          code.html
            | &lt;div class="ega-padding--left"&gt;
            |   ...
            | &lt;/div&gt;

    h2 No border
    ul
      li
        | No border
        pre
          code.html
            | &lt;div class="ega-border"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No top border
        pre
          code.html
            | &lt;div class="ega-border--top"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No right border
        pre
          code.html
            | &lt;div class="ega-border--right"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No bottom border
        pre
          code.html
            | &lt;div class="ega-border--bottom"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | No left border
        pre
          code.html
            | &lt;div class="ega-border--left"&gt;
            |   ...
            | &lt;/div&gt;

    h2 Text align
    ul
      li
        | Align left
        pre
          code.html
            | &lt;div class="ega-text--left"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | Align center
        pre
          code.html
            | &lt;div class="ega-text--center"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | Align right
        pre
          code.html
            | &lt;div class="ega-text--right"&gt;
            |   ...
            | &lt;/div&gt;
      li
        | Justify
        pre
          code.html
            | &lt;div class="ega-text--justify"&gt;
            |   ...
            | &lt;/div&gt;







      