h1, h2, h3, h4, h5, h6,
.#{$prefix}h1, .#{$prefix}h2, .#{$prefix}h3, .#{$prefix}h4, .#{$prefix}h5, .#{$prefix}h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}
h1, .#{$prefix}h1 { font-size: $h1-font-size; }
h2, .#{$prefix}h2 { font-size: $h2-font-size; }
h3, .#{$prefix}h3 { font-size: $h3-font-size; }
h4, .#{$prefix}h4 { font-size: $h4-font-size; }
h5, .#{$prefix}h5 { font-size: $h5-font-size; }
h6, .#{$prefix}h6 { font-size: $h6-font-size; }

.#{$prefix}text--lowercase { text-transform: lowercase; }
.#{$prefix}text--uppercase { text-transform: uppercase; }
.#{$prefix}text--capitalize { text-transform: capitalize; }
.#{$prefix}text--bold { font-weight: bold!important; }
