include header.pug
body
  div.ega-container
    h2 Text Color
    div.ega-demo__color
      div.ega-row
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--transparent"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--black.ega-text--center Transparent
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--black"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--black.ega-text--center #000000 Black
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--white"&gt; 
                |   ... 
                | &lt;/span&gt;
            p(style='background-color: #000').ega-text-color--white.ega-text--center #ffffff White
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--red"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--red.ega-text--center #f44336 Red
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--pink"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--pink.ega-text--center #e91e63 Pink
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--purple"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--purple.ega-text--center #9c27b0 Purple
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--indigo"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--indigo.ega-text--center #3f51b5 Indigo
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--blue"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--blue.ega-text--center #2196f3 Blue
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--cyan"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--cyan.ega-text--center #00bcd4 Cyan
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--teal"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--teal.ega-text--center #009688 Teal
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--green"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--green.ega-text--center #4caf50 Green
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--lime"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--lime.ega-text--center #cddc39 Lime
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--yellow"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--yellow.ega-text--center #ffeb3b Yellow
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--amber"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--amber.ega-text--center #ffc107 Amber
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--orange"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--orange.ega-text--center #ff9800 Organe
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--brown"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--brown.ega-text--center #795548 Brown
        div.ega-col-4
          div.ega-demo__color-item
            pre
              code.html
                | &lt;span class="ega-text-color--grey"&gt; 
                |   ... 
                | &lt;/span&gt;
            p.ega-text-color--grey.ega-text--center #9e9e9e Grey
    
include footer.pug
