div.ega-container
	ul.ega-row.ega-ul
		li.ega-col
			a(href='./layout.html') Layout
		li.ega-col
			a(href='./grid.html') Grid
		li.ega-col
			a(href='./helpers.html') Helpers
		li.ega-col
			a(href='./color.html') Color
		li.ega-col
			a(href='./button.html') Button