.#{$prefix}container {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	margin: 0 auto;
	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 720px;
	}
	@media (min-width: 992px) {
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
}
.#{$prefix}row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.#{$prefix}col, [class*=#{$prefix}col-] {
	padding-left: 10px;
	padding-right: 10px;
}

/** Break point **/
$breakpoint_sm: (576px, sm);
$breakpoint_md: (768px, md);
$breakpoint_lg: (992px, lg);
$breakpoint_xl: (1200px, xl);

/** Collumn **/

@mixin ega_col_flex() {
	-ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
@mixin ega_col($i, $collumns) {
	-ms-flex: 0 0 percentage($i / $collumns);
	flex: 0 0 percentage($i / $collumns);
	max-width: percentage($i / $collumns);
}
.#{$prefix}col {
	@include ega_col_flex();
}

@for $i from 1 through 12 {
	.#{$prefix}col-#{$i} {
		@include ega_col($i, 12);
	}
}

@each $i in 20, 30, 40, 60, 70, 80, 90 {
	.#{$prefix}col-#{$i} {
		@include ega_col($i, 100);
	}
}

@each $breakpoint, $infix in $breakpoint_sm, $breakpoint_md, $breakpoint_lg, $breakpoint_xl {
	@media (min-width: $breakpoint) {
		.#{$prefix}col-#{$infix} {
			@include ega_col_flex();
		}

		@for $i from 1 through 12 {
			.#{$prefix}col-#{$infix}-#{$i} {
				@include ega_col($i, 12);
			}
	  }

	  .#{$prefix}col-ten {
		   @include ega_col(10, 100);
	  }

	  @each $i in 20, 30, 40, 60, 70, 80, 90 {
		  .#{$prefix}col-#{$infix}-#{$i} {
			  @include ega_col($i, 100);
		  }
    }
  }
}
