// Hidden
.#{$prefix}hidden {
	display: none !important;
	&--sm {
		@media(min-width: 576px) and (max-width: 767px) {
			display: none!important;
		}
	}
	&--md {
		@media(min-width: 768px) and (max-width: 991px) {
			display: none!important;
		}
	}
	&--lg {
		@media(min-width: 992px) and (max-width: 1199px) {
			display: none!important;
		}
	}
	&--xl {
		@media(min-width: 1200px) {
			display: none!important;
		}
	}
}

.#{$prefix}nomargin {
	margin: 0!important;
	&--top { margin-top: 0!important; }
	&--right { margin-right: 0!important; }
	&--bottom { margin-bottom: 0!important; }
	&--left { margin-left: 0!important; }
}
.#{$prefix}nopadding {
	padding: 0!important;
	&--top { padding-top: 0!important; }
	&--right { padding-right: 0!important; }
	&--bottom { padding-bottom: 0!important; }
	&--left { padding-left: 0!important; }
}
.#{$prefix}border {
	border: none!important;
}
.#{$prefix}ul {
	padding-left: 0;
	list-style: none;
}

// Align
.#{$prefix}text--left { text-align: left; }
.#{$prefix}text--center { text-align: center; }
.#{$prefix}text--right { text-align: right; }
.#{$prefix}text--justify { text-align: justify; }
