@font-face {
  font-family: "#{$prefix}icon-font";
	src:url(../fonts/ega-font-icon.eot);
	src:url(../fonts/ega-font-icon.eot) format("embedded-opentype"),
		url(../ega-font-icon.woff) format("woff"),
		url(../ega-font-icon.ttf) format("truetype"),
		url(../ega-font-icon.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=#{$prefix}icon-]:before {
  font-family: "#{$prefix}ega-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.#{$prefix}icon {
  &-html-front-end:before {
    content: "\61";
  }
  &-icon-magic:before {
    content: "\63";
  }
  &-icon-nda:before {
    content: "\65";
  }
  &-icon-smooth-workflow:before {
    content: "\68";
  }
  &-icon-support:before {
    content: "\69";
  }
  &-icon-technical-skilled:before {
    content: "\6a";
  }
  &-icon-facebook:before {
    content: "\6c";
  }
  &-icon-twitter:before {
    content: "\6d";
  }
  &-icon-google-plus:before {
    content: "\6e";
  }
  &-icon-instagram:before {
    content: "\6f";
  }
  &-icon-mobile:before {
    content: "\70";
  }
  &-icon-email-mail-streamline:before {
    content: "\71";
  }
  &-icon-email-coding:before {
    content: "\72";
  }
  &-icon-single-web-app:before {
    content: "\73";
  }
  &-icon-wordpress:before {
    content: "\74";
  }
  &-icon-spf:before {
    content: "\75";
  }
  &-icon-mobile-app:before {
    content: "\76";
  }
  &-icon-share:before {
    content: "\62";
  }
  &-icon-clock:before {
    content: "\64";
  }
  &-icon-heart:before {
    content: "\66";
  }
  &-icon-comment:before {
    content: "\67";
  }
  &-icon-pinterest:before {
    content: "\6b";
  }
  &-icon-arrow-left:before {
    content: "\77";
  }
  &-icon-arrow-right:before {
    content: "\78";
  }
  &-icon-arrow-down:before {
    content: "\79";
  }
  &-icon-arrow-up:before {
    content: "\7a";
  }
  &-icon-check:before {
    content: "\41";
  }
  &-icon-info:before {
    content: "\42";
  }
  &-icon-user:before {
    content: "\44";
  }
  &-icon-avatar:before {
    content: "\43";
  }

}
