$prefix: 'ega-';

// Base type
$base-font: "Helvetica", "Arial", sans-serif!default;
$base-font-size: 1rem;
$text-color-primary: #333!default;

// Heading
$headings-font-family: inherit!default;
$headings-font-weight: 500!default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;
$h1-font-size: $base-font-size * 2.5 !default;
$h2-font-size: $base-font-size * 2 !default;
$h3-font-size: $base-font-size * 1.75 !default;
$h4-font-size: $base-font-size * 1.5 !default;
$h5-font-size: $base-font-size * 1.25 !default;
$h6-font-size: $base-font-size !default;
