/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 *------Common
 *------Helpers
 * -----Typography
 * -----Colors
 * -----Grid
 * -----Textfield
 * -----Switch
 * -----Spinner
 * -----Radio
 * -----Menu
 * -----List
 * -----Layout
 * -----Icon toggles
 * -----Footer
 * -----Column
 * -----Checkbox
 * -----Card
 * -----Button
 * -----Animation
 * -----Progress
 * -----Badge
 * -----Shadows
 * -----Grid
 * -----Data table
 * -----Dialog
 * -----Snackbar
 * -----Tooltip
 * -----Chip
 **/
/* ==========  VARIABLES  ========== */
/* ==========  MIXINS  ========== */
/* ==========  RESET  ========== */
*::before, *::after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  width: 100%;
  height: 100%; }

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  color: #333;
  width: 100%;
  min-height: 100%;
  margin: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a:focus, button:focus {
  outline: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img, iframe {
  max-width: 100%; }

/* ==========  FONT ICONS  ========== */
@font-face {
  font-family: "ega-icon-font";
  src: url(../fonts/ega-font-icon.eot);
  src: url(../fonts/ega-font-icon.eot) format("embedded-opentype"), url(../ega-font-icon.woff) format("woff"), url(../ega-font-icon.ttf) format("truetype"), url(../ega-font-icon.svg) format("svg");
  font-weight: normal;
  font-style: normal; }
[class^=ega-icon-]:before {
  font-family: "ega-ega-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ega-icon-html-front-end:before {
  content: "\61"; }
.ega-icon-icon-magic:before {
  content: "\63"; }
.ega-icon-icon-nda:before {
  content: "\65"; }
.ega-icon-icon-smooth-workflow:before {
  content: "\68"; }
.ega-icon-icon-support:before {
  content: "\69"; }
.ega-icon-icon-technical-skilled:before {
  content: "\6a"; }
.ega-icon-icon-facebook:before {
  content: "\6c"; }
.ega-icon-icon-twitter:before {
  content: "\6d"; }
.ega-icon-icon-google-plus:before {
  content: "\6e"; }
.ega-icon-icon-instagram:before {
  content: "\6f"; }
.ega-icon-icon-mobile:before {
  content: "\70"; }
.ega-icon-icon-email-mail-streamline:before {
  content: "\71"; }
.ega-icon-icon-email-coding:before {
  content: "\72"; }
.ega-icon-icon-single-web-app:before {
  content: "\73"; }
.ega-icon-icon-wordpress:before {
  content: "\74"; }
.ega-icon-icon-spf:before {
  content: "\75"; }
.ega-icon-icon-mobile-app:before {
  content: "\76"; }
.ega-icon-icon-share:before {
  content: "\62"; }
.ega-icon-icon-clock:before {
  content: "\64"; }
.ega-icon-icon-heart:before {
  content: "\66"; }
.ega-icon-icon-comment:before {
  content: "\67"; }
.ega-icon-icon-pinterest:before {
  content: "\6b"; }
.ega-icon-icon-arrow-left:before {
  content: "\77"; }
.ega-icon-icon-arrow-right:before {
  content: "\78"; }
.ega-icon-icon-arrow-down:before {
  content: "\79"; }
.ega-icon-icon-arrow-up:before {
  content: "\7a"; }
.ega-icon-icon-check:before {
  content: "\41"; }
.ega-icon-icon-info:before {
  content: "\42"; }
.ega-icon-icon-user:before {
  content: "\44"; }
.ega-icon-icon-avatar:before {
  content: "\43"; }

/* ==========  COMMON  ========== */
/* ==========  HELPERS  ========== */
.ega-hidden {
  display: none !important; }
  @media (min-width: 576px) and (max-width: 767px) {
    .ega-hidden--sm {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .ega-hidden--md {
      display: none !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .ega-hidden--lg {
      display: none !important; } }
  @media (min-width: 1200px) {
    .ega-hidden--xl {
      display: none !important; } }

.ega-nomargin {
  margin: 0 !important; }
  .ega-nomargin--top {
    margin-top: 0 !important; }
  .ega-nomargin--right {
    margin-right: 0 !important; }
  .ega-nomargin--bottom {
    margin-bottom: 0 !important; }
  .ega-nomargin--left {
    margin-left: 0 !important; }

.ega-nopadding {
  padding: 0 !important; }
  .ega-nopadding--top {
    padding-top: 0 !important; }
  .ega-nopadding--right {
    padding-right: 0 !important; }
  .ega-nopadding--bottom {
    padding-bottom: 0 !important; }
  .ega-nopadding--left {
    padding-left: 0 !important; }

.ega-border {
  border: none !important; }

.ega-ul {
  padding-left: 0;
  list-style: none; }

/* ==========  TYPOGRAPHY  ========== */
/* ==========  COLORS  ========== */
/* ==========  GRID  ========== */
/* ==========  BUTTON  ========== */

/*# sourceMappingURL=ega-global.css.map */
