@import "../src/scss/variables";

$demo-border-color: #a6be3d;
$demo-background-color: rgba(166, 190, 62, .4);

.#{$prefix}demo {
	&__grids {
		margin-top: 30px;
		.#{$prefix}row:not(:first-child) {
			margin-top: 5px;
		}
	}
	&__grids .#{$prefix}col, &__grids  [class*=#{$prefix}col-] {
		border: 1px solid $demo-border-color;
		background-color: $demo-background-color;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	&__color-item {
		padding-bottom: 20px;
		p {
		  padding-top: 5px;
    	padding-bottom: 5px;
			margin: 0;
		}
	}
}